*.aux
*.log
*.bbl
*.blg
*.out
*.thm
*.fdb_latexmk
*.fls
*.synctex.gz
.vscode/settings.json
2020_emnlp_curiosity/auto_fig/*
2020_emnlp_curiosity/data/*.json
2020_emnlp_curiosity/data/*.db
2020_emnlp_curiosity/data/wiki2vec_entity_100d.txt
2020_emnlp_curiosity.paper.pdf
2020_emnlp_curiosity.pdf
__pycache__
.DS_Store
*.pyc
*.toc
*.nav
*.snm
*.xdv
*.pkl
.pytest_cache
*.appendix.pdf
*.submission.pdf
*.arxiv.tgz
*.zip
*.ipynb
.vscode/