\begin{tabular}{% raw %}{{% endraw%}{{ col_spec }}{% raw %}}{% endraw %}
\toprule & {{ tasks_row }}\\
{{ cmidrules }}
Model& {{ scores_row }}\\ \midrule {% for row in result_rows %} {{ row }}\\ {%
endfor %} \bottomrule \end{tabular}
